body {
    background-color: #5a646d;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/*头像加用户名*/
.media-object {
    width: 40px;
    height: 40px;
}

.desc-text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 15px;
}

/*回复框*/
.comment-frame {
    margin: 12px 0;
}

/*单个回复列表*/
.comment {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}

/*二级评论大框*/
.sub-comments {
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.comment-menu {
    display: block;
    color: #999;
    margin-top: 5px;
}

/*评论标签样式*/
.comment-tags{
    margin: 0 5px;
    font-size: 13px;
}

.comment-menu .icon {
    margin-right: 10px;
}

.comment-menu .comment-icon {
    font-size: 15px;
}

.comment-menu .comment-icon:hover {
    color: #499ef3;
}

.comment-menu .active {
    color: #499ef3;
}

.comment-menu .icon:hover {
    color: #499ef3;
}

/*标签框*/
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info{
    margin: 5px 5px ;
    white-space: normal;
    display: inline-block;
}