<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>某个论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/forum.css"/>
</head>
<body>

<div th:insert="navigation :: nav"></div>

<div class="jumbotron" style="margin: 30px">
    <div style="margin: 30px">
        <h1>出错</h1>
        <p th:text="${message}">报错还没传错误信息</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
    </div>
</div>


<div th:insert="footer :: foot"></div>
</body>
</html>