<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/forum.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/forum.css"/>
</head>

<body>

<div th:insert="navigation :: nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <!--帖子详情内容-->
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4><span th:text="${post.title}"></span></h4>
                <span class="desc-text">
                发布者：<span th:text="${post.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(post.gmtCreate,'yyyy-MMMM-dd  HH:mm')}"></span> |
                浏览次数：<span th:text="${post.viewCount}"></span>
            </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-xs-12" th:text="${post.description}"></div>
                <hr class="col-lg-12 col-md-12 col-xs-12">
                <a class="community-menu" th:href="@{'/publish/'+${post.id}}"
                   th:if="${session.user != null && session.user.id == post.creator}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    编辑
                </a>
            </div>

            <hr class="col-lg-12 col-md-12 col-xs-12">
            <!--回复框-->
            <div class="col-lg-12 col-md-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail" th:src="${post.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${post.user.name}"></span>
                        </h5>
                    </div>
                </div>

                <input type="hidden" id="post_id" th:value="${post.id}">
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>发布者</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${post.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px">
                        <h5 class="media-heading">
                            <span th:text="${post.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>相关帖子</h4>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>